body{
	background-color:#F8F8F0;
}
.head{
	margin-top:2vh;
}
.app{
	margin-top:2vh;
	border-radius: 5px;
	height:75vh;
	vertical-align: top;
}
#board{
	border-radius: 5px;
	resize:none;
	color:white;
	width:100%;
	background-color:#272822;
	border:none;
	height:75vh;
	padding-top:2vh;
	padding-bottom:5vh;
	white-space: pre;
}
.pane{
	height:2vh;
	color:#272822;
}
.pane-right{
	text-align: right;
}
#refresh-icon{
	font-weight: lighter;
	font-size:25px;
	cursor:pointer;
}
#send-icon{
	font-weight: lighter;
	font-size:25px;
	cursor:pointer;
}
.foot{
	margin-top:2vh;
}
a{
	color:blue;
	text-decoration: none;
}
.footer{
	height: 2vh;
}